@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Administration"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Administration"]</h2>

<a class="btn btn-default" asp-controller="Users" asp-action="Index">@SharedLocalizer["Users"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GeoServer" asp-action="UploadGeoTIFFFiles">@SharedLocalizer["UploadGeoTIFFFiles"]</a>
<a class="btn btn-default" asp-controller="GeoServer" asp-action="DeleteGeoTIFFFile">@SharedLocalizer["DeleteGeoTIFFFile"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GeoServer" asp-action="PublishGeoTIFF">@SharedLocalizer["PublishGeoTIFF"]</a>
<a class="btn btn-default" asp-controller="GeoServer" asp-action="UnpublishGeoTIFF">@SharedLocalizer["UnpublishGeoTIFF"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GeoServer" asp-action="UploadGeoTIFFFilesWater">@SharedLocalizer["UploadGeoTIFFFilesWater"]</a>
<a class="btn btn-default" asp-controller="GeoServer" asp-action="DeleteGeoTIFFFileWater">@SharedLocalizer["DeleteGeoTIFFFileWater"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GeoServer" asp-action="PublishGeoTIFFWater">@SharedLocalizer["PublishGeoTIFFWater"]</a>
<a class="btn btn-default" asp-controller="GeoServer" asp-action="UnpublishGeoTIFFWater">@SharedLocalizer["UnpublishGeoTIFFWater"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GeoServer" asp-action="UploadShapeFiles">@SharedLocalizer["UploadShapeFiles"]</a>
<a class="btn btn-default" asp-controller="GeoServer" asp-action="DeleteShapeFile">@SharedLocalizer["DeleteShapeFile"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GeoServer" asp-action="PublishShape">@SharedLocalizer["PublishShape"]</a>
<a class="btn btn-default" asp-controller="GeoServer" asp-action="UpdateLakeLayerStyle">@SharedLocalizer["UpdateLakeLayerStyle"]</a>
<a class="btn btn-default" asp-controller="GeoServer" asp-action="UnpublishShape">@SharedLocalizer["UnpublishShape"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="Layers" asp-action="Index">@SharedLocalizer["Layers"]</a>
<a class="btn btn-default" asp-controller="Maps" asp-action="Index">@SharedLocalizer["Maps"]</a>
@*<a class="btn btn-default" asp-controller="Categories" asp-action="Index">@SharedLocalizer["Categories"]</a>*@
<br />
<br />
<a class="btn btn-default" asp-controller="WaterLevels" asp-action="Index">@SharedLocalizer["WaterLevels"]</a>
<a class="btn btn-default" asp-controller="SurfaceFlows" asp-action="Index">@SharedLocalizer["SurfaceFlows"]</a>
<a class="btn btn-default" asp-controller="Precipitations" asp-action="Index">@SharedLocalizer["Precipitations"]</a>
<a class="btn btn-default" asp-controller="UndergroundFlows" asp-action="Index">@SharedLocalizer["UndergroundFlows"]</a>
<a class="btn btn-default" asp-controller="SurfaceOutflows" asp-action="Index">@SharedLocalizer["SurfaceOutflows"]</a>
<a class="btn btn-default" asp-controller="Evaporations" asp-action="Index">@SharedLocalizer["Evaporations"]</a>
<a class="btn btn-default" asp-controller="UndergroundOutflows" asp-action="Index">@SharedLocalizer["UndergroundOutflows"]</a>
<a class="btn btn-default" asp-controller="Hydrochemistries" asp-action="Index">@SharedLocalizer["Hydrochemistries"]</a>
<br />
<br />
<a class="btn btn-default" asp-controller="GeoServer" asp-action="AnalizeWater">@SharedLocalizer["AnalizeWater"]</a>