@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = @SharedLocalizer["Home"];
}

<link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.js"></script>

<body>
    <header>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <!-- Slide One - Set the background image for this slide in the line below -->
                <div class="carousel-item active" style="background-image: url(../images/sl01.JPG)">
                    <h1 class="mb59">&quot;Қазақстан көлдері&quot;<br> веб-атласы!</h1>
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Үлкен Шабақты көлі</h3>
                        <p>Үлкен Шабақты көлі ЩБСО көлдерінің ең үлкені және тереңі.</p>
                    </div>
                </div>
                <!-- Slide Two - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url(../images/sl04.JPG)">
                    <h1 class="mb59">&quot;Қазақстан көлдері&quot;<br> веб-атласы!</h1>
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Жасыбай көлі</h3>
                        <p>Жасыбай көлі солтүстік-шығысқа қарай Ақбет шыңдары (1022 м) және оңтүстік-батысқа қарай Огонек (958 м) таулы аймақтары арасында табиғи құдықта орналасқан.</p>
                    </div>
                </div>
                <!-- Slide Three - Set the background image for this slide in the line below -->
                <div class="carousel-item" style="background-image: url(../images/sl06.JPG)">
                    <h1 class="mb59">Веб Атлас: <br> &quot;Озера Казахстана&quot;!</h1>
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Индер көлі</h3>
                        <p>Ол Каспий маңы ойпатының солтүстік бөлігінде, Батыс Қазақстан облысының оңтүстік шекарасынан 5 шақырым, Жайық өзенінен 10 км шығысында орналасқан.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </header>
    <!-- Icons Grid -->
    <section class="features-icons bg-light text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <a class="btn btn-outline-light" asp-controller="Lakes" asp-action="Map">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-magnifier m-auto text-primary"></i>
                            </div>
                        </a>
                        <h3>Кеңейтілген іздеу беті</h3>
                        <p class="lead mb-0">
                            Кез келген көлді тек аты бойынша ғана емес, оның әкімшілік (облыс, аудан) немесе сушаруашылық (Сушаруашылық бассейні, сушаруашылық учаскесі) 
                            орны бойынша да таба алатын бетке өту
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                        <a class="btn btn-outline-light" asp-controller="Lakes" asp-action="Analytics">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-settings m-auto text-primary"></i>
                            </div>
                        </a>
                        <h3>Аналитика</h3>
                        <p class="lead mb-0">
                            Берілген параметрлерге (морфометриялық, гидрологиялық, гидрохимиялық және басқа параметрлерге) сәйкес келетін көлдерді таба алатын бетке өту. 
                            Тек тіркелген пайдаланушылар үшін қол жетімді.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <a class="btn btn-outline-light" asp-controller="Layers" asp-action="Index">
                            <div class="features-icons-icon d-flex">
                                <i class="icon-layers m-auto text-primary"></i>
                            </div>
                        </a>
                        <h3>Карта қабаттары</h3>
                        <p class="lead mb-0">Жеке картографиялық вьюверде көру мүмкіндігі бар, растрлық және векторлық қабаттар тізімі жарияланған бетке өту <br /> <span class=" text-muted">Бұл бет әзірленуде</span>.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call to Action -->
    <section class="call-to-action text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4">@SharedLocalizer["SearchByLakeName"]</h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                    <form>
                        <div class="form-row" id="LakeIdDiv">
                            <div class="col-12 col-md-9 mb-2 mb-md-0">
                                <input id="LakeId" class="form-control form-control-lg" placeholder="Көлдің атын енгізіңіз..." onclick="GoToLake()">
                            </div>
                            <div class="col-12 col-md-3">
                                <button id="btnSearch" type="button" class="btn btn-block btn-lg btn-primary" onclick="GoToLake()">@SharedLocalizer["Search"]</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Greeting -->
    <section class="greeting text-center bg-light">
        <img class="mb-0" src="~/images/ELake v02.png" alt="" height="150">
        <h2>&quot;Қазақстан көлдері&quot; веб-атласына қош келдіңіз!!</h2>
        <p class="lead ml-5 mr-5 text-justify" style="text-indent: 2.5em;">
            «Қазақстан көлдерінің атласы» ("E-Lake") веб-қосымшасы 2018 жылы Қазақстан Республикасының География институтымен әзірленген. Атластағы ақпараттар интерактивті картаның қабаттары, 
            кестелер және графиктер түрінде берілген. 
            Қазіргі уақытта Көлдер атласы Қазақстанның ауданы 1 км<sup>2</sup> жоғары 2328 көлдерінің орналасу орны мен жалпы сипаттамалары туралы ақпараттан тұрады.
        </p>
        <p class="lead ml-5 mr-5 text-justify" style="text-indent: 2.5em;">
            Қазақстанның көлдері бойынша Интернет-ресурс су ресурстарын басқару саласында шешім қабылдайтын тұлғаларға, ғылым және білім беру қоғамдастығына және көлдер 
            туралы көбірек білгісі келетіндерге арналған.
        </p>
    </section>
    <!-- Image Showcases -->
    <section class="showcase pb-5">
        <div class="container-fluid p-0">
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(../images/sl07.JPG);"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>&quot;Қазақстан көлдері&quot; веб-атласының деректері</h2>
                    <p class="lead text-justify mb-0" style="text-indent: 2.5em;">
                        Қазақстан көлдерінің атласы мынадай деректерден тұрады: ЖҚЗ деректері бойынша алынған көлдердің морфометриялық сипаттамалары, мұрағаттық деректер және ғаламдық 
                        көлдер базасының деректері, сондай-ақ ауданы 10 км<sup>2</sup> жоғары жекелеген көлдердің гидрологиялық көрсеткіштері (су балансының элементтері) және гидрохимиялық көрсеткіштері 
                        (жалпы гидрохимия, иондық-тұздық құрамы, токсикология).
                    </p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 text-white showcase-img" style="background-image: url(../images/sl08.JPG);"></div>
                <div class="col-lg-6 my-auto showcase-text">
                    <h2>&quot;Қазақстан көлдері&quot; веб-атласының функционалы</h2>
                    <p class="lead text-justify mb-0" style="text-indent: 2.5em;">
                        Қазақстан көлдері атласының функционалы көлдерді әкімшілік және сушаруашылық орналасу орны бойынша табуға, жекелеген көлдердің көрсеткіштер мәндерінің 
                        динамикасын көруге мүмкіндік береді, ал аналитикалық сұрау конструкторы Қазақстан көлдерінің жағдайы мен пайдалану болашағын анықтау үшін берілген параметрлерге 
                        сәйкес келетін көлдерді анықтауға мүмкіндік береді.
                    </p>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url(../images/sl09.JPG);"></div>
                <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                    <h2>&quot;Қазақстан көлдері&quot; деректерін пайдалануды шектеу</h2>
                    <p class="lead text-justify mb-0" style="text-indent: 2.5em;">
                        Қазақстанның көлдер атласының (деректер көзіне сілтемесі жоқ деректер) жекелеген деректері Қазақстан Республикасының География институтының мәліметтері, 
                        авторлық құқықты сақтап, осы веб-ресурсқа міндетті түрде сілтеме жасау талап етіле отырып тегін ұсынылды <a href="http://elake.geoset.kz">(http://elake.geoset.kz)</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    $("#LakeId").keypress(function (event) {
        if (event.which == 13) {
            $("#btnSearch").click();
            return false;
        }
    });
</script>

<script>
    function GoToLake() {
        alert($('#LakeId').val());
        $.ajax({
            url: '@Url.Action("GetLakeId")',
            data: {
                LakeName: $('#LakeId').val()
            },
            type: 'POST',
            success: function (data) {
                if (data.lakeId != null) {
                    window.location.href = '/Lakes/Map/' + data.lakeId.toString();
                }
            },
            error: function () {
            }
        });
    }
</script>
<script>
    $.ajax({
        url: '@Url.Action("SearchLakes")',
        type: 'POST',
        success: function (data) {
            $("#LakeId").autocomplete({
                source: data.lakes
            });
        },
        error: function () {
        }
    });
</script>