@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "WaterTables";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
            <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
            <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
            <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
        </div>
    </div>
    <div class="col-8">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">...</div>
            <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">...</div>
            <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">...</div>
            <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">...</div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 offset-md-1 ">
            <div class="list-group">
                <div class="alert alert-primary" role="alert">
                    <h5 class="alert-heading">Water Tables</h5>                    
                </div>
                <a class="list-group-item list-group-item-action active" asp-controller="WaterLevels" asp-action="Index">@SharedLocalizer["WaterLevels"]</a>
                <a class="list-group-item list-group-item-action" asp-controller="SurfaceFlows" asp-action="Index">@SharedLocalizer["SurfaceFlows"]</a>
                <a class="list-group-item list-group-item-action" asp-controller="Precipitations" asp-action="Index">@SharedLocalizer["Precipitations"]</a>
                <a class="list-group-item list-group-item-action" asp-controller="UndergroundFlows" asp-action="Index">@SharedLocalizer["UndergroundFlows"]</a>
                <a class="list-group-item list-group-item-action" asp-controller="SurfaceOutflows" asp-action="Index">@SharedLocalizer["SurfaceOutflows"]</a>
                <a class="list-group-item list-group-item-action" asp-controller="Evaporations" asp-action="Index">@SharedLocalizer["Evaporations"]</a>
                <a class="list-group-item list-group-item-action" asp-controller="UndergroundOutflows" asp-action="Index">@SharedLocalizer["UndergroundOutflows"]</a>
                <a class="list-group-item list-group-item-action" asp-controller="Hydrochemistries" asp-action="Index">@SharedLocalizer["Hydrochemistries"]</a>
            </div>
        </div>
        <div class="col-md-8">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">@SharedLocalizer["WaterLevels"]</h4>
                <hr>
                <p class="mb-0">There should be a description or video</p>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




