@model ELake.Models.WaterLevel
@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Details"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="bg-white">
    <div class="container">
        <div class="jumbotron jumbotron-fluid shadow-sm">
            <div class="container py-2">
                <h2 class="pb-3 mb-1 font-italic border-bottom">@SharedLocalizer["Details"]</h2>
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <p class="lead text-info">@SharedLocalizer["WaterLevel"]</p>
                    </div>
                </div>
                <div class="alert-success" role="alert">
                    @ViewData["Message"]
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert-danger" role="alert">
                        @ViewBag.Message
                    </div>
                }
            </div>
        </div>
        <div class="form-row ">
            <span class="border-left ml-1"></span>
            <div class="col-md-4 ml-3">

                <div>
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.LakeId)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.LakeId)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.Year)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.Year)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.WaterLavelM)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.WaterLavelM)
                        </dd>
                    </dl>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.Id">@SharedLocalizer["Edit"]</a> |
                    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
                </div>
            </div>
        </div>
    </div>
</body>

