@model ELake.Models.LakesGlobalData
@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Delete"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body class="bg-white">
    <div class="container">
        <div class="jumbotron jumbotron-fluid shadow-sm">
            <div class="container py-2">
                <h2 class="pb-3 mb-1 font-italic border-bottom">@SharedLocalizer["Delete"]</h2>
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <p class="lead text-info">@SharedLocalizer["LakesGlobalData"]</p>
                    </div>
                </div>
                <div class="alert-success" role="alert">
                    @ViewData["Message"]
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert-danger" role="alert">
                        @ViewBag.Message
                    </div>
                }
            </div>
        </div>
        <div class="form-row ">
            <span class="border-left ml-1"></span>
            <div class="col-md-4 ml-3">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.LakeId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.LakeId)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Hylak_id)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Hylak_id)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Lake_name_ENG)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Lake_name_ENG)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Lake_name_RU)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Lake_name_RU)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Lake_name_KZ)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Lake_name_KZ)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Country_ENG)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Country_ENG)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Country_RU)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Country_RU)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Country_KZ)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Country_KZ)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Continent_ENG)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Continent_ENG)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Continent_RU)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Continent_RU)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Continent_KZ)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Continent_KZ)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Lake_area)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Lake_area)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Shore_len)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Shore_len)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Shore_dev)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Shore_dev)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Vol_total)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Vol_total)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Depth_avg)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Depth_avg)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Dis_avg)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Dis_avg)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Res_time)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Res_time)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Elevation)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Elevation)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Slope_100)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Slope_100)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Wshd_area)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Wshd_area)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Pour_long)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Pour_long)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Pour_lat)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Pour_lat)
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="Id" />
                    <input type="submit" value="@SharedLocalizer["Delete"]" class="btn btn-link" /> |
                    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
                </form>
            </div>
        </div>
    </div>
</body>