@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    var user = Context.User;
}
@if (user.Identity.IsAuthenticated)
{
    if (user.IsInRole("Administrator"))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs"></i> @SharedLocalizer["Functions"]</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header text-light">@SharedLocalizer["Rasters"]</h6>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UploadGeoTIFFFiles">Загрузка и публикация растровых данных</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="DeleteGeoTIFFFile">Удаление и отмена публикации растровых данных</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UploadGeoTIFFFilesWater">Загрузка и публикация растровых данных (по воде)</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UnpublishGeoTIFFWater">Удаление и отмена публикации растровых данных (по воде)</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header text-light">@SharedLocalizer["ShapeFiles"]</h6>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UploadShapeFiles">Загрузка и публикация векторных данных</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UnpublishShape">Удаление и отмена публикации векторных данных</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list-alt"></i> @SharedLocalizer["Directories"]</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Lakes" asp-action="Index">@SharedLocalizer["Lakes"]</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="DocumentTypes" asp-action="Index">@SharedLocalizer["DocumentTypes"]</a>
                <a class="dropdown-item" asp-controller="RegulatoryDocuments" asp-action="Index">@SharedLocalizer["RegulatoryDocuments"]</a>
                <a class="dropdown-item" asp-controller="MeasurementUnits" asp-action="Index">@SharedLocalizer["MeasurementUnits"]</a>
                <a class="dropdown-item" asp-controller="GeneralHydrochemicalIndicatorStandards" asp-action="Index">@SharedLocalizer["GeneralHydrochemicalIndicatorStandards"]</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list-alt"></i> @SharedLocalizer["Tables"]</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header text-light">@SharedLocalizer["Hydrology"]</h6>
                <a class="dropdown-item" asp-controller="WaterBalances" asp-action="Index">@SharedLocalizer["WaterBalances"]</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header text-light">@SharedLocalizer["Hydrochemistries"]</h6>
                <a class="dropdown-item" asp-controller="GeneralHydrochemicalIndicators" asp-action="Index">@SharedLocalizer["GeneralHydrochemicalIndicators"]</a>
                <a class="dropdown-item" asp-controller="IonsaltWaterCompositions" asp-action="Index">@SharedLocalizer["IonsaltWaterCompositions"]</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header text-light">@SharedLocalizer["Maps"]</h6>
                <a class="dropdown-item" asp-controller="Layers" asp-action="Index">@SharedLocalizer["Layers"]</a>
                <a class="dropdown-item" asp-controller="Maps" asp-action="Index">@SharedLocalizer["Maps"]</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-users"></i> @SharedLocalizer["Administration"]</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-controller="Users" asp-action="Index">@SharedLocalizer["Users"]</a>
                @*<a class="dropdown-item" asp-controller="Home" asp-action="Administrator">@SharedLocalizer["Administration"]</a>*@
            </div>
        </li>
    }
    if (user.IsInRole("Moderator"))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs"></i> @SharedLocalizer["Functions"]</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header text-light">@SharedLocalizer["Rasters"]</h6>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UploadGeoTIFFFiles">@SharedLocalizer["UploadGeoTIFFFiles"]</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="DeleteGeoTIFFFile">@SharedLocalizer["DeleteGeoTIFFFile"]</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="PublishGeoTIFF">@SharedLocalizer["PublishGeoTIFF"]</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UnpublishGeoTIFF">@SharedLocalizer["UnpublishGeoTIFF"]</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UploadGeoTIFFFilesWater">@SharedLocalizer["UploadGeoTIFFFilesWater"]</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="DeleteGeoTIFFFileWater">@SharedLocalizer["DeleteGeoTIFFFileWater"]</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="PublishGeoTIFFWater">@SharedLocalizer["PublishGeoTIFFWater"]</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UnpublishGeoTIFFWater">@SharedLocalizer["UnpublishGeoTIFFWater"]</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header text-light">@SharedLocalizer["ShapeFiles"]</h6>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UploadShapeFiles">@SharedLocalizer["UploadShapeFiles"]</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="DeleteShapeFile">@SharedLocalizer["DeleteShapeFile"]</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="PublishShape">@SharedLocalizer["PublishShape"]</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UpdateLakeLayerStyle">@SharedLocalizer["UpdateLakeLayerStyle"]</a>
                <a class="dropdown-item" asp-controller="GeoServer" asp-action="UnpublishShape">@SharedLocalizer["UnpublishShape"]</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown07" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-list-alt"></i> @SharedLocalizer["Tables"]</a>
            <div class="dropdown-menu" aria-labelledby="dropdown07">
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header text-light">@SharedLocalizer["Lakes"]</h6>
                <a class="dropdown-item" asp-controller="Lakes" asp-action="Index">@SharedLocalizer["Lakes"]</a>
                <a class="dropdown-item" asp-controller="WaterBalances" asp-action="Index">@SharedLocalizer["WaterBalances"]</a>
                <a class="dropdown-item" asp-controller="DocumentTypes" asp-action="Index">@SharedLocalizer["DocumentTypes"]</a>
                <a class="dropdown-item" asp-controller="RegulatoryDocuments" asp-action="Index">@SharedLocalizer["RegulatoryDocuments"]</a>
                <a class="dropdown-item" asp-controller="MeasurementUnits" asp-action="Index">@SharedLocalizer["MeasurementUnits"]</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header text-light">@SharedLocalizer["Hydrochemistries"]</h6>
                <a class="dropdown-item" asp-controller="GeneralHydrochemicalIndicators" asp-action="Index">@SharedLocalizer["GeneralHydrochemicalIndicators"]</a>
                <a class="dropdown-item" asp-controller="IonsaltWaterCompositions" asp-action="Index">@SharedLocalizer["IonsaltWaterCompositions"]</a>
                <div class="dropdown-divider"></div>
                <h6 class="dropdown-header text-light">@SharedLocalizer["Maps"]</h6>
                <a class="dropdown-item" asp-controller="Layers" asp-action="Index">@SharedLocalizer["Layers"]</a>
                <a class="dropdown-item" asp-controller="Maps" asp-action="Index">@SharedLocalizer["Maps"]</a>
            </div>
        </li>
    }
}