@model ELake.Models.NutrientsHeavyMetalsStandard
@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="alert alert-primary" role="alert">
                <button type="button" class="close" data-dismiss="alert">x</button> <h4 class="alert-heading">@SharedLocalizer["Edit"]</h4>
                <hr />
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <p class="lead text-info">@SharedLocalizer["NutrientsHeavyMetalsStandard"]</p>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-exclamation-triangle"></i></button>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert-warning" role="alert">
                        @ViewBag.Message
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="col-md-4">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="RegulatoryDocumentId" class="control-label"></label>
                        @*<input asp-for="Name" class="form-control" />*@
                        <select asp-for="RegulatoryDocumentId" class="form-control" asp-items="ViewBag.RegulatoryDocumentId"></select>
                        <span asp-validation-for="RegulatoryDocumentId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MPCNH4" class="control-label"></label>
                        <input asp-for="MPCNH4" class="form-control" />
                        <span asp-validation-for="MPCNH4" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MPCNO2" class="control-label"></label>
                        <input asp-for="MPCNO2" class="form-control" />
                        <span asp-validation-for="MPCNO2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MPCNO3" class="control-label"></label>
                        <input asp-for="MPCNO3" class="form-control" />
                        <span asp-validation-for="MPCNO3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MPCPPO4" class="control-label"></label>
                        <input asp-for="MPCPPO4" class="form-control" />
                        <span asp-validation-for="MPCPPO4" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MPCCu" class="control-label"></label>
                        <input asp-for="MPCCu" class="form-control" />
                        <span asp-validation-for="MPCCu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MPCZn" class="control-label"></label>
                        <input asp-for="MPCZn" class="form-control" />
                        <span asp-validation-for="MPCZn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MPCMn" class="control-label"></label>
                        <input asp-for="MPCMn" class="form-control" />
                        <span asp-validation-for="MPCMn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MPCPb" class="control-label"></label>
                        <input asp-for="MPCPb" class="form-control" />
                        <span asp-validation-for="MPCPb" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MPCNi" class="control-label"></label>
                        <input asp-for="MPCNi" class="form-control" />
                        <span asp-validation-for="MPCNi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MPCCd" class="control-label"></label>
                        <input asp-for="MPCCd" class="form-control" />
                        <span asp-validation-for="MPCCd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MPCCo" class="control-label"></label>
                        <input asp-for="MPCCo" class="form-control" />
                        <span asp-validation-for="MPCCo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HazardClassNH4" class="control-label"></label>
                        <input asp-for="HazardClassNH4" class="form-control" />
                        <span asp-validation-for="HazardClassNH4" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HazardClassNO2" class="control-label"></label>
                        <input asp-for="HazardClassNO2" class="form-control" />
                        <span asp-validation-for="HazardClassNO2" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HazardClassNO3" class="control-label"></label>
                        <input asp-for="HazardClassNO3" class="form-control" />
                        <span asp-validation-for="HazardClassNO3" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HazardClassPPO4" class="control-label"></label>
                        <input asp-for="HazardClassPPO4" class="form-control" />
                        <span asp-validation-for="HazardClassPPO4" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HazardClassCu" class="control-label"></label>
                        <input asp-for="HazardClassCu" class="form-control" />
                        <span asp-validation-for="HazardClassCu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HazardClassZn" class="control-label"></label>
                        <input asp-for="HazardClassZn" class="form-control" />
                        <span asp-validation-for="HazardClassZn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HazardClassMn" class="control-label"></label>
                        <input asp-for="HazardClassMn" class="form-control" />
                        <span asp-validation-for="HazardClassMn" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HazardClassPb" class="control-label"></label>
                        <input asp-for="HazardClassPb" class="form-control" />
                        <span asp-validation-for="HazardClassPb" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HazardClassNi" class="control-label"></label>
                        <input asp-for="HazardClassNi" class="form-control" />
                        <span asp-validation-for="HazardClassNi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HazardClassCd" class="control-label"></label>
                        <input asp-for="HazardClassCd" class="form-control" />
                        <span asp-validation-for="HazardClassCd" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="HazardClassCo" class="control-label"></label>
                        <input asp-for="HazardClassCo" class="form-control" />
                        <span asp-validation-for="HazardClassCo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-default" />
                    </div>
                </form>
                <small class="d-block text-right mt-3">
                    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
                </small>
            </div>
        </div>

    </div>
</div>
<script>
    $.validator.methods.range = function (value, element, param) {
        var globalizedValue = value.replace(",", ".");
        return this.optional(element) || (globalizedValue >= param[0] && globalizedValue <= param[1]);
    }
    $.validator.methods.number = function (value, element) {
        return this.optional(element) || /-?(?:\d+|\d{1,3}(?:[\s\.,]\d{3})+)(?:[\.,]\d+)?$/.test(value);
    }
</script>