@model IEnumerable<ELake.Models.Map>
@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Maps"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@SharedLocalizer["Maps"]</h2>

<p>
    <a asp-action="Create">@SharedLocalizer["Create"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">@SharedLocalizer["Edit"]</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">@SharedLocalizer["Details"]</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">@SharedLocalizer["Delete"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="container">
    <div class="row">
        <div class="process">
            <div class="process-row nav nav-tabs">
                <div class="process-step">
                    <button type="button" class="btn btn-info btn-circle" data-toggle="tab" href="#menu1"><i class="fa fa-info fa-3x"></i></button>
                    <p><small>Fill<br />information</small></p>
                </div>
                <div class="process-step">
                    <button type="button" class="btn btn-default btn-circle" data-toggle="tab" href="#menu2"><i class="fa fa-file-text-o fa-3x"></i></button>
                    <p><small>Fill<br />description</small></p>
                </div>                
            </div>
        </div>
        <div class="tab-content col-md-6 offset-md-3">
            <div id="menu1" class="tab-pane fade active in">
                <a href="#" class="float-right">Шаг 1</a>
                <p>Размер загружаемого файла не должен превышать 1 Гб. При превышении размера изображений пользователь должен разделить растр на архивы ZIP размерами не более 1 Гб. Формат загружаемого растра должен быть GeoTIFF, GeoJPEG в проекции EPSG:3857 (WGS 84/Pseudo-Mercator (Spherical Mercator) на сфере).</p>
                <ul class="list-unstyled list-inline pull-right">
                    <li><button type="button" class="btn btn-info next-step">Next <i class="fa fa-chevron-right"></i></button></li>
                </ul>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Some content in menu 2.</p>
                <ul class="list-unstyled list-inline pull-right">
                    <li><button type="button" class="btn btn-default prev-step"><i class="fa fa-chevron-left"></i> Back</button></li>
                    <li><button type="button" class="btn btn-info next-step">Next <i class="fa fa-chevron-right"></i></button></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@*<div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h4>Загрузка и публикация растровых данных</h4>
                <ul class="timeline">
                    <li>
                        <a class="timeline active" target="_blank" href="#">Загрузка растровых данных</a>
                        <a href="#" class="float-right">Шаг 1</a>
                        <p>Размер загружаемого файла не должен превышать 1 Гб. При превышении размера изображений пользователь должен разделить растр на архивы ZIP размерами не более 1 Гб. Формат загружаемого растра должен быть GeoTIFF, GeoJPEG в проекции EPSG:3857 (WGS 84/Pseudo-Mercator (Spherical Mercator) на сфере).</p>
                    </li>
                    <li>
                        <a href="#">Публикация растровых данных</a>
                        <a href="#" class="float-right">Шаг 2</a>
                        <p>Функция доступна для загруженных растровых файлов. Многоканальные растры должны быть приведены к одному разрешению и перерасчету ячеек растра.</p>
                    </li>
                    <li>
                        <a href="#">Создание стиля для растровых данных</a>
                        <a href="#" class="float-right">Шаг 2</a>
                        <p>лассификация с использованием просмотра минимальных и максимальных значений, после просмотра которых необходимо указать количество классов и диапазон значений для каждого класса. Так же для каждого класса назначение прозрачности</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@
