@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/ol/ol.css" rel="stylesheet" />
<script src="~/lib/ol/ol.js"></script>
<script src="~/lib/chart.js/Chart.js"></script>
<script src="~/lib/gasparesganga-jquery-loading-overlay/src/loadingoverlay.js"></script>


<section id="content2">
    <div class="container-fluid p-0">
        <div class="row">
            <!-- Tab Articles-->
            <div class="col-lg-6">
                <div class="contenthy1 card" id="contenthy1">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-gear"></i></button>
                            <div aria-labelledby="closeCard4" class="dropdown-menu dropdown-menu-right has-shadow bg-light"><a class="dropdown-item tab" onclick="ShowTableWB()" href="#crumbWB"><i class="fa fa-table"></i> @SharedLocalizer["Table"]</a><a class="dropdown-item chart" onclick="ShowChartWB()" href="#crumbWB"><i class="fa fa-bar-chart"></i> @SharedLocalizer["Chart"]</a></div>
                        </div>
                    </div>
                    <div class="card-header bg-transparent border-success  d-flex">
                        <h2 class="h4">@SharedLocalizer["WaterBalances"]</h2>
                    </div>
                    <div class="card-body no-padding">
                        <div class="table-responsive">
                            <table class="table table-striped table-sm">
                                <thead class="table-info">
                                    <tr>
                                        <th>@SharedLocalizer["Indicator"]</th>
                                        <th> @SharedLocalizer["Value"]</th>
                                        <th> %</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="bg-green">
                                        <td colspan="3">
                                            @SharedLocalizer["WaterBalanceReceipt"]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @SharedLocalizer["SurfaceFlow"]
                                        </td>
                                        <td id="SurfaceFlow"></td>
                                        <td id="SurfaceFlowPer"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @SharedLocalizer["UndergroundFlow"]
                                        </td>
                                        <td id="UndergroundFlow"></td>
                                        <td id="UndergroundFlowPer"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @SharedLocalizer["Precipitation"]
                                        </td>
                                        <td id="Precipitation"></td>
                                        <td id="PrecipitationPer"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @SharedLocalizer["Total"]
                                        </td>
                                        <td id="WaterBalanceReceipt"></td>
                                        <td id="WaterBalanceReceiptPer"></td>
                                    </tr>
                                    <tr class="bg-green">
                                        <td colspan="3">
                                            @SharedLocalizer["WaterBalanceExpenditure"]
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @SharedLocalizer["SurfaceOutflow"]
                                        </td>
                                        <td id="SurfaceOutflow"></td>
                                        <td id="SurfaceOutflowPer"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @SharedLocalizer["UndergroundOutflow"]
                                        </td>
                                        <td id="UndergroundOutflow"></td>
                                        <td id="UndergroundOutflowPer"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @SharedLocalizer["Evaporation"]
                                        </td>
                                        <td id="Evaporation"></td>
                                        <td id="EvaporationPer"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @SharedLocalizer["Total"]
                                        </td>
                                        <td id="WaterBalanceExpenditure"></td>
                                        <td id="WaterBalanceExpenditurePer"></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            @SharedLocalizer["Discrepancy"]
                                        </td>
                                        <td id="Discrepancy"></td>
                                        <td></td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Chart List -->
            <div class="col-lg-6 p-0">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">@SharedLocalizer["WaterLevels"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">@SharedLocalizer["BathigraphicAndVolumetricCurveDatas"]</a>
                    </li>
                </ul>
                <div class="tab-content" id="pills-tabContent">
                    <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                        <canvas id="chartWL" class="WL"></canvas>
                    </div>
                    <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <canvas id="chartBAVCD" class="BAVCD"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="breadcrumb-holder container-fluid mt-2">
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="#contenthy1">@SharedLocalizer["WaterBalances"]</a></li>
            </ul>
            <!-- Tab & Chart Articles-->            
            <div class="card-body no-padding" id="crumbWB">
                <!-- Tab Articles-->
                <div class="table-responsive">
                    <table class="WB table table-striped table-sm" id="tableWB">
                        <thead>
                            <tr class="table-success">
                                <th colspan="5">@SharedLocalizer["WaterBalanceReceipt"]</th>
                                <th colspan="5">@SharedLocalizer["WaterBalanceExpenditure"]</th>
                            </tr>
                        </thead>
                        <thead class="table-info">
                            <tr>
                                <th>@SharedLocalizer["Year"]</th>
                                <th>@SharedLocalizer["SurfaceFlow"]</th>
                                <th> @SharedLocalizer["Precipitation"]</th>
                                <th>@SharedLocalizer["UndergroundFlow"]</th>
                                <th>@SharedLocalizer["Total"]</th>
                                <th>@SharedLocalizer["SurfaceOutflow"]</th>
                                <th>@SharedLocalizer["Evaporation"]</th>
                                <th>@SharedLocalizer["UndergroundOutflow"]</th>
                                <th>@SharedLocalizer["Total"]</th>
                                <th>@SharedLocalizer["Discrepancy"]</th>
                            </tr>
                        </thead>
                        <tbody id="tablebodyWB"></tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card-body no-padding">
                            <canvas id="chartWB" class="WB" width="400" height="200"></canvas>
                        </div>
                    </div>
                    <!-- Chart List -->
                    <div class="col-lg-6 p-0">
                        <div class="card-body no-padding">
                            <canvas id="chartWB2" class="WB" width="400" height="200"></canvas>
                        </div>
                    </div>
                    <input id="chartWBYear" class="WB" type="range" style="width: 100%;" value="0" />
                </div>
            </div>
            
        </div>
        
    </div>    
</section>