@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Analytics"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@SharedLocalizer["Analytics"]</h2>
<select id="adm1" asp-items="ViewBag.Adm1" onchange="GetAdm2();">
    <option selected></option>
</select>
<select id="adm2">
    <option selected></option>
</select>
<input id="formula" type="text" style="width: 100%;" />
<input type="button" onclick="Analyze()" value="@SharedLocalizer["Find"]" />
<br />
<label id="message"></label>
<br />
<input type="button" onclick="$('#formula').val($('#formula').val() + '(')" value="(" />
<input type="button" onclick="$('#formula').val($('#formula').val() + ')')" value=")" />
<input type="button" onclick="$('#formula').val($('#formula').val() + '+')" value="+" />
<input type="button" onclick="$('#formula').val($('#formula').val() + '-')" value="-" />
<input type="button" onclick="$('#formula').val($('#formula').val() + '*')" value="*" />
<input type="button" onclick="$('#formula').val($('#formula').val() + '/')" value="/" />
<input type="button" onclick="$('#formula').val($('#formula').val() + '>')" value=">" />
<input type="button" onclick="$('#formula').val($('#formula').val() + '<')" value="<" />
<input type="button" onclick="$('#formula').val($('#formula').val() + '=')" value="=" />
<input type="button" onclick="$('#formula').val($('#formula').val() + ' AND ')" value="@SharedLocalizer["AND"]" />
<input type="button" onclick="$('#formula').val($('#formula').val() + ' OR ')" value="@SharedLocalizer["OR"]" />
<input type="button" onclick="$('#formula').val($('#formula').val() + ' NOT ')" value="@SharedLocalizer["NOT"]" />
<br />
<h4>@SharedLocalizer["BasicInfoLake"]</h4>
<input type="button" onclick="$('#formula').val($('#formula').val() + 'Area2015')" value="@SharedLocalizer["Area2015"] (Area2015)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'Shoreline2015')" value="@SharedLocalizer["LakeShorelineLength2015"] (Shoreline2015)" />
<h4>@SharedLocalizer["LakeArchiveData"]</h4>
<input type="button" onclick="$('#formula').val($('#formula').val() + 'ArchiveLength')" value="@SharedLocalizer["LakeLength"] (ArchiveLength)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'ArchiveShoreline')" value="@SharedLocalizer["LakeShorelineLength"] (ArchiveShoreline)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'ArchiveMirrorArea')" value="@SharedLocalizer["LakeMirrorArea"] (ArchiveMirrorArea)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'ArchiveAbsoluteHeight')" value="@SharedLocalizer["LakeAbsoluteHeight"] (ArchiveAbsoluteHeight)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'ArchiveWidth')" value="@SharedLocalizer["LakeWidth"] (ArchiveWidth)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'ArchiveMaxDepth')" value="@SharedLocalizer["LakeMaxDepth"] (ArchiveMaxDepth)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'ArchiveWaterMass')" value="@SharedLocalizer["LakeWaterMass"] (ArchiveWaterMass)" />
<h4>@SharedLocalizer["LakeGlobalData"]</h4>
<input type="button" onclick="$('#formula').val($('#formula').val() + 'GlobalArea')" value="@SharedLocalizer["Lake_area"] (GlobalArea)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'GlobalShoreLength')" value="@SharedLocalizer["Shore_len"] (GlobalShoreLength)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'GlobalIndentation')" value="@SharedLocalizer["Shore_dev"] (GlobalIndentation)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'GlobalVolume')" value="@SharedLocalizer["Vol_total"] (GlobalVolume)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'GlobalDepth')" value="@SharedLocalizer["Depth_avg"] (GlobalDepth)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'GlobalFlow')" value="@SharedLocalizer["Dis_avg"] (GlobalFlow)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'GlobalStayTime')" value="@SharedLocalizer["Res_time"] (GlobalStayTime)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'GlobalElevation')" value="@SharedLocalizer["Elevation"] (GlobalElevation)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'GlobalSlope')" value="@SharedLocalizer["Slope_100"] (GlobalSlope)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'GlobalCatchmentArea')" value="@SharedLocalizer["Wshd_area"] (GlobalCatchmentArea)" />
<h4>@SharedLocalizer["Hydrology"]. @SharedLocalizer["WaterBalances"]</h4>
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceSurfaceFlowAvg')" value="@SharedLocalizer["SurfaceFlow"] (@SharedLocalizer["average"]) (WaterBalanceSurfaceFlowAvg)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceSurfaceOutflowAvg')" value="@SharedLocalizer["SurfaceOutflow"] (@SharedLocalizer["average"]) (WaterBalanceSurfaceOutflowAvg)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceUndergroundFlowAvg')" value="@SharedLocalizer["UndergroundFlow"] (@SharedLocalizer["average"]) (WaterBalanceUndergroundFlowAvg)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceUndergroundOutflowAvg')" value="@SharedLocalizer["UndergroundOutflow"] (@SharedLocalizer["average"]) (WaterBalanceUndergroundOutflowAvg)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalancePrecipitationAvg')" value="@SharedLocalizer["Precipitation"] (@SharedLocalizer["average"]) (WaterBalancePrecipitationAvg)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceEvaporationAvg')" value="@SharedLocalizer["Evaporation"] (@SharedLocalizer["average"]) (WaterBalanceEvaporationAvg)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceSurfaceFlowMax')" value="@SharedLocalizer["SurfaceFlow"] (@SharedLocalizer["maximum"]) (WaterBalanceSurfaceFlowMax)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceSurfaceOutflowMax')" value="@SharedLocalizer["SurfaceOutflow"] (@SharedLocalizer["maximum"]) (WaterBalanceSurfaceOutflowMax)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceUndergroundFlowMax')" value="@SharedLocalizer["UndergroundFlow"] (@SharedLocalizer["maximum"]) (WaterBalanceUndergroundFlowMax)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceUndergroundOutflowMax')" value="@SharedLocalizer["UndergroundOutflow"] (@SharedLocalizer["maximum"]) (WaterBalanceUndergroundOutflowMax)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalancePrecipitationMax')" value="@SharedLocalizer["Precipitation"] (@SharedLocalizer["maximum"]) (WaterBalancePrecipitationMax)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceEvaporationMax')" value="@SharedLocalizer["Evaporation"] (@SharedLocalizer["maximum"]) (WaterBalanceEvaporationMax)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceSurfaceFlowMin')" value="@SharedLocalizer["SurfaceFlow"] (@SharedLocalizer["minimum"]) (WaterBalanceSurfaceFlowMin)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceSurfaceOutflowMin')" value="@SharedLocalizer["SurfaceOutflow"] (@SharedLocalizer["minimum"]) (WaterBalanceSurfaceOutflowMin)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceUndergroundFlowMin')" value="@SharedLocalizer["UndergroundFlow"] (@SharedLocalizer["minimum"]) (WaterBalanceUndergroundFlowMin)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceUndergroundOutflowMin')" value="@SharedLocalizer["UndergroundOutflow"] (@SharedLocalizer["minimum"]) (WaterBalanceUndergroundOutflowMin)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalancePrecipitationMin')" value="@SharedLocalizer["Precipitation"] (@SharedLocalizer["minimum"]) (WaterBalancePrecipitationMin)" />
<input type="button" onclick="$('#formula').val($('#formula').val() + 'WaterBalanceEvaporationMin')" value="@SharedLocalizer["Evaporation"] (@SharedLocalizer["minimum"]) (WaterBalanceEvaporationMin)" />

<div hidden="hidden">
    <input id="Map" type="hidden" value='@SharedLocalizer["Map"]' />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @SharedLocalizer["Name"]
            </th>
            <th>
                @SharedLocalizer["LakeId"]
            </th>
            <th>
                @SharedLocalizer["Details"]
            </th>
        </tr>
    </thead>
    <tbody id="tablebodyLakes"></tbody>
</table>
<script>
    function Analyze() {
        $('#message').text('');
        $.ajax({
            url: '@Url.Action("Analyze")',
            data: {
                Formula: $('#formula').val(),
                Adm1KATOId: $('#adm1').val(),
                Adm2KATOId: $('#adm2').val() },
            type: 'POST',
            success: function (data) {
                var tablebody = $('#tablebodyLakes');
                tablebody.html('');
                if (data.lakes != null) {
                    for (var i = 0; i < data.lakes.length; i++) {
                        var tr = $('<tr/>').appendTo(tablebody);
                        tr.append('<td>' + data.lakes[i].name + '</td>');
                        tr.append('<td>' + data.lakes[i].lakeId + '</td>');
                        tr.append('<td><a href="Map/' + data.lakes[i].lakeId + '" target="_blank">' + $('#Map').val() + '</a></td>');
                    }
                }
                $('#message').text(data.message);
            },
            error: function () {
            }
        });
    }
</script>
<script>
    function GetAdm2() {
        var $dropdown = $("#adm2");
        $dropdown.find('option')
            .remove();
        $.ajax({
            url: '@Url.Action("GetAdm2")',
            data: {
                Adm1KATOId: $('#adm1').val()
            },
            type: 'POST',
            success: function (data) {
                $dropdown.append($("<option />"));
                $.each(data.adm2, function () {
                    $dropdown.append($("<option />").val(this.id).text(this.name));
                });
            },
            error: function () {
            }
        });
    }
    GetAdm2();
</script>