@model ELake.Models.Layer
@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["AddLakes"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.js"></script>
<script src="~/lib/evol-colorpicker/js/evol-colorpicker.js"></script>
<link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/lib/evol-colorpicker/css/evol-colorpicker.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="alert alert-primary" role="alert">
                <button type="button" class="close" data-dismiss="alert">x</button> <h4 class="alert-heading">@SharedLocalizer["AddLakes"]</h4>
                <hr />
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <p class="lead text-info">There should be a description</p>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-exclamation-triangle"></i></button>
                    </div>
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert-warning" role="alert">
                        @ViewBag.Message
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="form-row ">
                <div class="col-md-4 ml-3">
                    <form asp-action="AddLakes">
                        <input id="Id" type="hidden" asp-for="Id" />
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">@SharedLocalizer["ShapeFile"]</label>
                            <select id="ShapeFile" name="ShapeFile" class="form-control" asp-items="ViewBag.ShapeFiles"></select>
                        </div>
                        <div class="form-group">
                            <label class="text-uppercase" style="width: 8rem;">@SharedLocalizer["Compare"]</label>
                            <input type="button" value="@SharedLocalizer["Compare"]" class="btn btn-outline-info float-right" onclick="Compare()" />
                            <table id="Compared" class="table mt-4">
                                <thead>
                                    <tr class="table-info">
                                        <td>
                                            @SharedLocalizer["LakeId"]
                                        </td>
                                        <td>
                                            @SharedLocalizer["Action"]
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @*<tr>
                        <td>
                            <input name="ReplaceIds[0]" value="1" class="form-control" type="hidden" />1
                        </td>
                        <td>
                            <input id="Replaces0" type="checkbox" checked="checked" onclick="Checkbox(0)"> @SharedLocalizer["Replace"]
                            <input id="ReplacesV0" name="Replaces[0]" type="hidden" value="false">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input name="ReplaceIds[1]" value="2" class="form-control" type="hidden" />2
                        </td>
                        <td>
                            <input id="Replaces1" type="checkbox" checked="checked" onclick="Checkbox(1)"> @SharedLocalizer["Replace"]
                            <input id="ReplacesV1" name="Replaces[1]" type="hidden" value="true">
                        </td>
                    </tr>*@
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="@SharedLocalizer["Add"]" class="btn btn-primary" />
                        </div>
                    </form> 
                </div>
            </div>
            
        </div>
        
    </div>
</div>



<script>
    function Compare(){
        $.ajax({
            url: '@Url.Action("GetComparedLakes", "GeoServer")',
            data: {
                OldLakeLayerId: $('#Id').val(),
                NewLakeShapeFileName: $('#ShapeFile').val()
            },
            type: 'POST',
            success: function (data) {
                var optionhtml = '';
                $.each(data.commonLakes, function (i) {
                    optionhtml += '<tr>'+
                                        '<td>' +
                                            '<input name="ReplaceIds[' + i.toString() + ']" value="' + data.commonLakes[i] + '" class="form-control" type="hidden"/>' +
                                            data.commonLakes[i] +
                                        '</td>' +
                                        '<td>' +
                                            '<input id="Replaces' + i.toString() + '" type="checkbox" checked="checked" onclick="Checkbox(' + i.toString() + ')"> @SharedLocalizer["Replace"]' +
                                            '<input id="ReplacesV' + i.toString() + '" name="Replaces[' + i.toString() + ']" type="hidden" value="true">' +
                                        '</td>' +
                                    '</tr>';
                });
                $("#Compared > tbody").html("");
                $("#Compared tbody").append(optionhtml);
            },
            error: function () {
            }
        });
    }

    function Checkbox(i) {
        if (document.getElementById('Replaces' + i.toString()).checked) {
            $('#ReplacesV' + i.toString()).val(true);
        }
        else {
            $('#ReplacesV' + i.toString()).val(false);
        }
    }
</script>