@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["PublishGeoTIFF"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
<body class="bg-light">
    <div class="container">
        <div class="jumbotron jumbotron-fluid shadow-sm">
            <div class="container py-2">
                <h2 class="pb-3 mb-1 font-italic border-bottom">@SharedLocalizer["PublishGeoTIFF"]</h2>
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <p class="lead text-info">There should be a description</p>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icon ion-ios-information-outline"></i></button>
                    </div>
                </div>
                <!-- Modal -->
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">@SharedLocalizer["PublishGeoTIFF"]</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                There should be a description or video
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert-success" role="alert">
                    @ViewData["Message"]
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert-danger" role="alert">
                        @ViewBag.Message
                    </div>
                }
            </div>
        </div>        
        <form asp-action="PublishGeoTIFF">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputCity">@SharedLocalizer["GeoTIFFFile"]</label>
                    <select name="GeoTIFFFile" class="custom-select custom-select-sm" asp-items="ViewBag.GeoTIFFFiles"><option value="">Choose...</option></select>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputState">@SharedLocalizer["GeoServerStyle"]</label>
                    <select name="Style" class="custom-select custom-select-sm" asp-items="ViewBag.Styles"><option value="">Choose...</option></select>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="Name (kazakh)">@SharedLocalizer["NameKK"]</label>
                    <input name="NameKK" class="form-control form-control-sm" type="text" />
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        There should be a hint or warning!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label for="Name (kazakh)">@SharedLocalizer["DescriptionKK"]</label>
                    <textarea name="DescriptionKK" class="form-control" type="text"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="Name (russian)">@SharedLocalizer["NameRU"]</label>
                    <input name="NameRU" class="form-control form-control-sm" type="text" />
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        There should be a hint or warning!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label for="Name (russian)">@SharedLocalizer["DescriptionRU"]</label>
                    <textarea name="DescriptionRU" class="form-control" type="text"></textarea>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="Name (english)">@SharedLocalizer["NameEN"]</label>
                    <input name="NameEN" class="form-control form-control-sm" type="text" />
                    <small id="passwordHelpBlock" class="form-text text-muted">
                        There should be a hint or warning!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                    </small>
                </div>
                <div class="form-group col-md-6">
                    <label for="Name (english)">@SharedLocalizer["DescriptionEN"]</label>
                    <textarea name="DescriptionEN" class="form-control" type="text"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Tags"]</label>
                <textarea name="Tags" class="form-control" type="text"></textarea>
            </div>
            <input type="submit" value="@SharedLocalizer["Publish"]" class="btn btn-outline-primary my-2 my-sm-0" />
        </form>
    </div>
</body>