@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["PublishGeoTIFF"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert">x</button> <h4 class="alert-heading">Загрузка и публикация растровых данных</h4>
                <hr />
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <p class="lead text-info">@SharedLocalizer["PublishDescription"]</p>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-play-circle-o fa-2x"></i></button>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">@SharedLocalizer["UploadGeoTIFFFiles"]</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <video style="max-width: 100%;" controls>
                                    <source src="~/Video/UploadGeoTIFFFiles.mp4" type="video/mp4">
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert-success" role="alert">
                    @ViewData["Message"]
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert-warning" role="alert">
                        @ViewBag.Message
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="timstep">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="btn btn-outline-success btn-circle" asp-area="" asp-controller="GeoServer" asp-action="UploadGeoTIFFFiles"><i class="fa fa-upload fa-2x mt-2"></i></a>
                            <p class="text-secondary"><small>@SharedLocalizer["UploadGeoTIFFFiles"]</small></p>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success active btn-circle" asp-area="" asp-controller="GeoServer" asp-action="PublishGeoTIFF"><i class="fa fa-share-square-o fa-2x mt-3"></i></a>
                            <p class="text-success"><small>@SharedLocalizer["PublishGeoTIFF"]</small></p>
                        </li>
                    </ul>
                </div>
                <h5 class="border-bottom border-gray pb-2 mt-3">@SharedLocalizer["PublishGeoTIFF"]</h5>
                <div class="media pt-3">
                    <p class="media-body pb-3 mb-0 lh-125">
                        <strong class="d-block text-gray-dark">Шаг - 2</strong>
                        Функция предназначена для публикации растровых данных, назначения стиля, регистрации общих данных о растре и импорта готовых метаданных растра.

                    </p>
                </div>
                <div class="col m-1">
                    <form asp-action="PublishGeoTIFF">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputCity">@SharedLocalizer["GeoTIFFFile"]</label>
                                <select name="GeoTIFFFile" class="custom-select" asp-items="ViewBag.GeoTIFFFiles"><option value="">Choose...</option></select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputState">@SharedLocalizer["GeoServerStyle"]</label>
                                <select name="Style" class="custom-select" asp-items="ViewBag.Styles"><option value="">Choose...</option></select>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Name (kazakh)">@SharedLocalizer["NameKK"]</label>
                                <input name="NameKK" class="form-control" type="text" />
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    There should be a hint or warning!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Name (kazakh)">@SharedLocalizer["DescriptionKK"]</label>
                                <textarea name="DescriptionKK" class="form-control" type="text"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Name (russian)">@SharedLocalizer["NameRU"]</label>
                                <input name="NameRU" class="form-control" type="text" />
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    There should be a hint or warning!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Name (russian)">@SharedLocalizer["DescriptionRU"]</label>
                                <textarea name="DescriptionRU" class="form-control" type="text"></textarea>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="Name (english)">@SharedLocalizer["NameEN"]</label>
                                <input name="NameEN" class="form-control" type="text" />
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    There should be a hint or warning!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
                                </small>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="Name (english)">@SharedLocalizer["DescriptionEN"]</label>
                                <textarea name="DescriptionEN" class="form-control" type="text"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">@SharedLocalizer["Tags"]</label>
                            <textarea name="Tags" class="form-control" type="text"></textarea>
                        </div>
                        <input type="submit" value="@SharedLocalizer["Publish"]" class="btn btn-outline-success my-2 my-sm-0" />
                    </form>
                </div>
                <small class="d-block text-right mt-3">
                    <a asp-area="" asp-controller="GeoServer" asp-action="UnpublishGeoTIFF">@SharedLocalizer["UnpublishGeoTIFF"]</a>
                </small>
            </div>
        </div>

    </div>    
</div>

