@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["UploadGeoTIFFFilesWaterWater"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<body class="bg-light">
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h2 class="pb-3 mb-1 font-italic border-bottom">@SharedLocalizer["UploadGeoTIFFFilesWater"]</h2>
                <p class="lead">@SharedLocalizer["PublishDescription"]</p>
                @Html.ActionLink(SharedLocalizer["Instruction"], "Instruction", new { Type = "UploadGeoTIFFFilesWater" })
            </div>
        </div>
        <div class="col-md-5">
            @using (Html.BeginForm("UploadGeoTIFFFilesWater", "GeoServer", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadform" }))
            {
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["Files"]</label>
                    <input type="file" name="Files" multiple />
                </div>
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["Type"]</label>
                    @Html.DropDownList("Folder", (IEnumerable<SelectListItem>)ViewBag.Folder, htmlAttributes: new { @class = "custom-select", @id = "Folder" })
                </div>
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["Year"]</label>
                    <select asp-items="ViewBag.Year" name="Year" class="custom-select " id="Year"></select>
                </div>
                <div class="form-group">
                    <label class="control-label">@SharedLocalizer["Month"]</label>
                    <select asp-items="ViewBag.Month" name="Month" class="custom-select " id="Month"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="@SharedLocalizer["Upload"]" class="btn btn-outline-primary" />
                </div>
            }
        </div>
        <div class="col-md-pull-5">
            <div class="progress" style="width:50%">
                <div class="progress-bar"></div>
                <div class="percent">0%</div>
            </div>

            <div id="status"></div>
        </div>
    </div>
</body>
@*<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("UploadGeoTIFFFilesWater", "GeoServer", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadform" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="col-md-2 control-label">@SharedLocalizer["Files"]</label>
                <input type="file" name="Files" multiple />
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@SharedLocalizer["Type"]</label>
                @Html.DropDownList("Folder", (IEnumerable<SelectListItem>)ViewBag.Folder, htmlAttributes: new { @class = "form-control", @id = "Folder" })
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@SharedLocalizer["Year"]</label>
                <select asp-items="ViewBag.Year" name="Year" class="form-control" id="Year"></select>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@SharedLocalizer["Month"]</label>
                <select asp-items="ViewBag.Month" name="Month" class="form-control" id="Month"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Upload"]" class="btn btn-default" />
            </div>
        }
    </div>
</div>*@



<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        var bar = $('.progress-bar');
        var percent = $('.percent');
        var status = $('#status');
        $('#uploadform').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
            }
        });
    });
</script>