@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["UploadGeoTIFFFiles"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css'>
<body class="bg-white">
    <div class="container">
        <div class="jumbotron jumbotron-fluid shadow-sm">
            <div class="container py-2">
                <h2 class="pb-3 mb-1 font-italic border-bottom">@SharedLocalizer["UploadGeoTIFFFiles"]</h2>
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <p class="lead text-info">@SharedLocalizer["PublishDescription"]</p>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="icon ion-ios-information-outline"></i></button>
                    </div>
                </div>                
                <!-- Modal -->
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">@SharedLocalizer["UploadGeoTIFFFiles"]</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <video style="max-width: 100%;" controls>
                                    <source src="~/Video/UploadGeoTIFFFiles.mp4" type="video/mp4">
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert-success" role="alert">
                    @ViewData["Message"]
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert-danger" role="alert">
                        @ViewBag.Message
                    </div>
                }
            </div>
        </div>
        <div class="form-row ">
            <span class="border-left ml-1"></span>
            <div class="col ml-3">
                @using (Html.BeginForm("UploadGeoTIFFFiles", "GeoServer", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadform" }))
                {
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="font-weight-bold text-dark" for="FormControl">@SharedLocalizer["Files"]</label>
                        <input type="file" class="form-control-file text-info" name="Files" multiple />
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <input type="submit" value="@SharedLocalizer["Upload"]" class="btn btn-outline-primary" />
                        </div>
                    </div>
                }
                <div class="progress mr-3" style="height: 20px;">
                    <div class="progress-bar"></div>
                    <div class="percent">0%</div>
                </div>

                <div id="status"></div>
            </div>
        </div>
    </div>
</body>
@*<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("UploadGeoTIFFFiles", "GeoServer", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadform" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="col-md-2 control-label">@SharedLocalizer["Files"]</label>
                <input type="file" name="Files" multiple />
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Upload"]" class="btn btn-default" />
            </div>
        }
    </div>
</div>*@

@*<div class="progress" style="width:50%">
    <div class="progress-bar"></div>
    <div class="percent">0%</div>
</div>

<div id="status"></div>*@

<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        var bar = $('.progress-bar');
        var percent = $('.percent');
        var status = $('#status');
        $('#uploadform').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
            }
        });
    });
</script>