@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["UploadGeoTIFFFilesWaterWater"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2 mt-3">
            <div class="alert alert-success" role="alert">
                <button type="button" class="close" data-dismiss="alert">x</button> <h4 class="alert-heading">Загрузка и публикация растровых данных по воде</h4>
                <hr />
                <div class="d-flex bd-highlight">
                    <div class="p-2 flex-grow-1 bd-highlight">
                        <p class="lead text-info">There should be a description</p>
                    </div>
                    <!-- Button trigger modal -->
                    <div class="bd-highlight">
                        <button type="button" class="btn btn-link" data-toggle="modal" data-target=".bd-example-modal-lg"><i class="fa fa-play-circle-o fa-2x"></i></button>
                    </div>
                </div>
                <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">@SharedLocalizer["UploadGeoTIFFFilesWater"]</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <video style="max-width: 100%;" controls>
                                    <source src="~/Video/UploadGeoTIFFFiles.mp4" type="video/mp4">
                                    Your browser does not support HTML5 video.
                                </video>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="alert-success" role="alert">
                    @ViewData["Message"]
                </div>
                @if (!string.IsNullOrEmpty(ViewBag.Message))
                {
                    <div class="alert-warning" role="alert">
                        @ViewBag.Message
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="my-3 p-3 bg-white rounded shadow-sm">
                <div class="timstep">
                    <ul class="nav nav-pills nav-fill">
                        <li class="nav-item">
                            <a class="btn btn-success active btn-circle" asp-area="" asp-controller="GeoServer" asp-action="UploadGeoTIFFFilesWater"><i class="fa fa-upload fa-2x mt-2"></i></a>
                            <p class="text-success"><small>@SharedLocalizer["UploadGeoTIFFFilesWater"]</small></p>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-success btn-circle" asp-area="" asp-controller="GeoServer" asp-action="PublishGeoTIFFWater"><i class="fa fa-share-square-o fa-2x mt-3"></i></a>
                            <p class="text-secondary"><small>@SharedLocalizer["PublishGeoTIFFWater"]</small></p>
                        </li>
                    </ul>
                </div>
                <h5 class="border-bottom border-gray pb-2 mt-3">@SharedLocalizer["UploadGeoTIFFFilesWater"]</h5>
                <div class="media pt-3">
                    <p class="media-body pb-3 mb-0 lh-125">
                        <strong class="d-block text-gray-dark">Шаг - 1</strong>
                        Функция предназначена для выбора и загрузки растровых данных.
                    </p>
                </div>
                <div class="col m-1">
                    @using (Html.BeginForm("UploadGeoTIFFFiles", "GeoServer", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadform" }))
                    {
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="font-weight-bold text-dark" for="FormControl">@SharedLocalizer["Files"]</label>
                            <input type="file" class="form-control-file text-info" name="Files" multiple />
                        </div>
                        <div class="form-group">
                            <label class="control-label font-weight-bold text-dark">@SharedLocalizer["Type"]</label>
                            @Html.DropDownList("Folder", (IEnumerable<SelectListItem>)ViewBag.Folder, htmlAttributes: new { @class = "custom-select text-info", @id = "Folder" })
                        </div>
                        <div class="form-group">
                            <label class="control-label font-weight-bold text-dark">@SharedLocalizer["Year"]</label>
                            <select asp-items="ViewBag.Year" name="Year" class="custom-select text-info" id="Year"></select>
                        </div>
                        <div class="form-group">
                            <label class="control-label font-weight-bold text-dark">@SharedLocalizer["Month"]</label>
                            <select asp-items="ViewBag.Month" name="Month" class="custom-select text-info" id="Month"></select>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="@SharedLocalizer["Upload"]" class="btn btn-outline-success" />
                        </div>
                    }
                    <div class="progress mr-3" style="height: 20px;">
                        <div class="progress-bar"></div>
                        <div class="percent">0%</div>
                    </div>
                    <div id="status"></div>
                </div>
                <small class="d-block text-right mt-3">
                    <a asp-area="" asp-controller="GeoServer" asp-action="DeleteGeoTIFFFileWater">@SharedLocalizer["DeleteGeoTIFFFileWater"]</a>
                </small>
            </div>
        </div>

    </div>
</div>


@*<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm("UploadGeoTIFFFilesWater", "GeoServer", FormMethod.Post, new { enctype = "multipart/form-data", id = "uploadform" }))
        {
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="col-md-2 control-label">@SharedLocalizer["Files"]</label>
                <input type="file" name="Files" multiple />
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@SharedLocalizer["Type"]</label>
                @Html.DropDownList("Folder", (IEnumerable<SelectListItem>)ViewBag.Folder, htmlAttributes: new { @class = "form-control", @id = "Folder" })
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@SharedLocalizer["Year"]</label>
                <select asp-items="ViewBag.Year" name="Year" class="form-control" id="Year"></select>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label">@SharedLocalizer["Month"]</label>
                <select asp-items="ViewBag.Month" name="Month" class="form-control" id="Month"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Upload"]" class="btn btn-default" />
            </div>
        }
    </div>
</div>*@



<script>
    $.noConflict();
    jQuery(document).ready(function ($) {
        var bar = $('.progress-bar');
        var percent = $('.percent');
        var status = $('#status');
        $('#uploadform').ajaxForm({
            beforeSend: function () {
                status.empty();
                var percentVal = '0%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            uploadProgress: function (event, position, total, percentComplete) {
                var percentVal = percentComplete + '%';
                bar.width(percentVal);
                percent.html(percentVal);
            },
            complete: function (xhr) {
                status.html(xhr.responseText);
            }
        });
    });
</script>