@*@model IEnumerable<ELake.Models.WaterBalance>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@
@model ELake.Models.WaterBalanceIndexPageViewModel
@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@using System.Net
@{
    ViewData["Title"] = SharedLocalizer["WaterBalances"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 offset-md-1 mt-3">
            <div class="list-group">
                <div class="alert alert-primary" role="alert">
                    <h5 class="alert-heading">@SharedLocalizer["Tables"]</h5>
                </div>
                <a class="list-group-item list-group-item-action active" asp-controller="WaterBalances" asp-action="Index">@SharedLocalizer["WaterBalances"]</a>
            </div>
        </div>
        <div class="col-md-8 mt-3">
            <div class="alert alert-primary" role="alert">
                <h4 class="alert-heading">@SharedLocalizer["WaterBalances"]</h4>
                <hr>
                <p class="mb-0">There should be a description or video</p>
            </div>
            <div class="table-responsive-lg">
                @using (Html.BeginForm("Index", "WaterBalances", new { SortOrder = ViewBag.SortOrder, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter }, FormMethod.Get))
                {
                    @Html.Editor("SortOrder", null, new { htmlAttributes = new { @hidden = "hidden" }, value = ViewBag.SortOrder })
                    @if (Model.Pager.EndPage > 1)
                    {
                        <div class="row no-gutters">
                            <div class="col-12 col-sm-2 col-md-8">
                                <p>
                                    <a class="btn btn-outline-success ml-1" asp-action="Create"><i class="fa fa-pencil"></i> @SharedLocalizer["Create"]</a>
                                    <a class="btn btn-outline-success ml-1" asp-action="Upload"><i class="fa fa-pencil"></i> @SharedLocalizer["Upload"]</a>
                                </p>
                            </div>
                            <div class="col-6 col-md-4">
                                <ul class="pagination justify-content-end">
                                    @if (Model.Pager.CurrentPage > 1)
                                    {
                                        <li class="page-item page-link">
                                            @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                                                new { SortOrder = ViewBag.SortOrder, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                        </li>
                                        <li class="page-item page-link">
                                            @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                                                new { Page = Model.Pager.CurrentPage - 1, SortOrder = ViewBag.SortOrder, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                        </li>
                                    }

                                    @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                                    {

                                        <li class="page-item page-link @(page == Model.Pager.CurrentPage ? "active" : "")" @(page == Model.Pager.CurrentPage ? "style=background-color:#b8daff;" : "")>
                                            @Html.ActionLink(page.ToString(), "Index",
                                                new { Page = page, SortOrder = ViewBag.SortOrder, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                        </li>
                                    }

                                    @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                                    {
                                        <li class="page-item page-link">
                                            @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                                                new { Page = Model.Pager.CurrentPage + 1, SortOrder = ViewBag.SortOrder, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                        </li>
                                        <li class="page-item page-link">
                                            @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                                                new { Page = Model.Pager.TotalPages, SortOrder = ViewBag.SortOrder, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                        </li>
                                    }
                                </ul>

                            </div>
                        </div>

                    }
                    <table class="table table-striped table-bordered table-sm">
                        <thead>
                            <tr class="table-primary">
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-sm-4 my-1">
                                            @Html.Editor("LakeId", null, new { htmlAttributes = new { @class = "form-control is-valid", placeholder = SharedLocalizer["LakeId"] }, value = "" })
                                        </div>
                                        <div class="col-sm-auto my-1">
                                            @Html.ActionLink(Html.DisplayNameFor(b => b.Items.FirstOrDefault().LakeId).ToString(), "Index",
                                           new { SortOrder = ViewBag.LakeIdSort, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-sm-5 my-1">
                                            @Html.Editor("Year", null, new { htmlAttributes = new { @class = "form-control is-valid" }, value = "", placeholder = SharedLocalizer["Year"] })
                                        </div>
                                        <div class="col-sm-auto my-1">
                                            @Html.ActionLink(Html.DisplayNameFor(b => b.Items.FirstOrDefault().Year).ToString(), "Index",
                                           new { SortOrder = ViewBag.YearSort, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto my-2">
                                            @Html.DisplayNameFor(b => b.Items.FirstOrDefault().SurfaceFlow)
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto my-2">
                                            @Html.DisplayNameFor(b => b.Items.FirstOrDefault().SurfaceOutflow)
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto my-2">
                                            @Html.DisplayNameFor(b => b.Items.FirstOrDefault().UndergroundFlow)
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto my-2">
                                            @Html.DisplayNameFor(b => b.Items.FirstOrDefault().UndergroundOutflow)
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto my-2">
                                            @Html.DisplayNameFor(b => b.Items.FirstOrDefault().Precipitation)
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto my-2">
                                            @Html.DisplayNameFor(b => b.Items.FirstOrDefault().Evaporation)
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto my-2">
                                            @Html.DisplayNameFor(b => b.Items.FirstOrDefault().WaterBalanceReceipt)
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto my-2">
                                            @Html.DisplayNameFor(b => b.Items.FirstOrDefault().WaterBalanceExpenditure)
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto my-2">
                                            @Html.DisplayNameFor(b => b.Items.FirstOrDefault().Discrepancy)
                                        </div>
                                    </div>
                                </th>
                                <th scope="col">
                                    <div class="form-row align-items-center">
                                        <div class="col-auto my-1">
                                            <input type="submit" value="@SharedLocalizer["Find"]" class="btn btn-outline-primary">
                                        </div>
                                    </div>

                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.Items)
                        {
                        <tr>
                            <th scope="row">@Html.DisplayFor(modelItem => item.LakeId)</th>
                            <td>@Html.DisplayFor(modelItem => item.Year)</td>
                            <td>@Html.DisplayFor(modelItem => item.SurfaceFlow)</td>
                            <td>@Html.DisplayFor(modelItem => item.SurfaceOutflow)</td>
                            <td>@Html.DisplayFor(modelItem => item.UndergroundFlow)</td>
                            <td>@Html.DisplayFor(modelItem => item.UndergroundOutflow)</td>
                            <td>@Html.DisplayFor(modelItem => item.Precipitation)</td>
                            <td>@Html.DisplayFor(modelItem => item.Evaporation)</td>
                            <td>@Html.DisplayFor(modelItem => item.WaterBalanceReceipt)</td>
                            <td>@Html.DisplayFor(modelItem => item.WaterBalanceExpenditure)</td>
                            <td>@Html.DisplayFor(modelItem => item.Discrepancy)</td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id"><i class="fa fa-eye"></i></a> |
                                <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o"></i></a> |
                                <a asp-action="Delete" asp-route-id="@item.Id"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                        }
                    </table>
                    @if (Model.Pager.EndPage > 1)
                    {
                        <ul class="pagination justify-content-end">
                            @if (Model.Pager.CurrentPage > 1)
                            {
                                <li class="page-item page-link">
                                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;&laquo;"), "Index",
                                        new { SortOrder = ViewBag.SortOrder, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                </li>
                                <li class="page-item page-link">
                                    @Html.ActionLink(WebUtility.HtmlDecode("&laquo;"), "Index",
                                        new { Page = Model.Pager.CurrentPage - 1, SortOrder = ViewBag.SortOrder, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                </li>
                            }

                            @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                            {

                                <li class="page-item page-link @(page == Model.Pager.CurrentPage ? "active" : "")" @(page == Model.Pager.CurrentPage ? "style=background-color:#b8daff;" : "")>
                                    @Html.ActionLink(page.ToString(), "Index",
                                        new { Page = page, SortOrder = ViewBag.SortOrder, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                </li>
                            }

                            @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                            {
                                <li class="page-item page-link">
                                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;"), "Index",
                                        new { Page = Model.Pager.CurrentPage + 1, SortOrder = ViewBag.SortOrder, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                </li>
                                <li class="page-item page-link">
                                    @Html.ActionLink(WebUtility.HtmlDecode("&raquo;&raquo;"), "Index",
                                        new { Page = Model.Pager.TotalPages, SortOrder = ViewBag.SortOrder, LakeId = ViewBag.LakeIdFilter, Year = ViewBag.YearFilter })
                                </li>
                            }
                        </ul>

                    }
                }
            </div>
        </div>
    </div>
</div>
@*<p>
    <a asp-action="Create">Create New</a> <a asp-action="Upload">Upload</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.LakeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurfaceFlow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SurfaceOutflow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UndergroundFlow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UndergroundOutflow)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precipitation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Evaporation)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LakeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurfaceFlow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurfaceOutflow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UndergroundFlow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UndergroundOutflow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precipitation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Evaporation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
