@model ELake.Models.Layer
@using ELake.Controllers
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    ViewData["Title"] = SharedLocalizer["Edit"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery-ui/jquery-ui.js"></script>
<script src="~/lib/evol-colorpicker/js/evol-colorpicker.js"></script>
<link href="~/lib/jquery-ui/themes/base/jquery-ui.css" rel="stylesheet" />
<link href="~/lib/evol-colorpicker/css/evol-colorpicker.css" rel="stylesheet" />

<h2>@SharedLocalizer["Edit"]</h2>

<h4>@SharedLocalizer["Layer"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditNL">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Lake" />
            <input type="hidden" asp-for="FileNameWithPath" />
            <input type="hidden" asp-for="GeoServerName" />
            <input type="hidden" asp-for="GeoServerStyle" />
            <div class="form-group">
                <label asp-for="NameKK" class="control-label"></label>
                <input asp-for="NameKK" class="form-control" />
                <span asp-validation-for="NameKK" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameRU" class="control-label"></label>
                <input asp-for="NameRU" class="form-control" />
                <span asp-validation-for="NameRU" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameEN" class="control-label"></label>
                <input asp-for="NameEN" class="form-control" />
                <span asp-validation-for="NameEN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["DescriptionKK"]</label>
                <textarea name="DescriptionKK" class="form-control" type="text" asp-for="DescriptionKK"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["DescriptionRU"]</label>
                <textarea name="DescriptionRU" class="form-control" type="text" asp-for="DescriptionRU"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["DescriptionEN"]</label>
                <textarea name="DescriptionEN" class="form-control" type="text" asp-for="DescriptionEN"></textarea>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Tags"]</label>
                <textarea name="Tags" class="form-control" type="text" asp-for="Tags"></textarea>
            </div>
            <div class="form-group">
                <input type="submit" value="@SharedLocalizer["Save"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@SharedLocalizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}